{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "react-native",
    "promise",
    "immutable",
    "react-hooks"
  ],
  "rules": {
    "comma-dangle": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-vars": 1,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-did-mount-set-state": 0,
    "react/no-array-index-key": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-raw-text": 2,
    "react-native/sort-styles": 2,
    "immutable/no-mutation": 0,
    "react/jsx-indent": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 0,
    "import/no-unresolved": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "globals": {
    "__DEV__": true,
    "navigator": true
  },
  "env": {
    "react-native/react-native": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@config", "./src/config"],
          ["@components", "./src/components"],
          ["@navigation", "./src/navigation"],
          ["@services", "./src/services"],
          ["@store", "./src/store"]
        ],
        "extensions": [".js"]
      }
    }
  }
}
